# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vs
*.vscode
*.ilk
*.tlog
*.idb
*.pdb
*.pdb
GuessTheTriangle/.idea/.idea.GuessTheTriangle/.idea/encodings.xml
GuessTheTriangle/.idea/.idea.GuessTheTriangle/.idea/indexLayout.xml
GuessTheTriangle/.idea/.idea.GuessTheTriangle/.idea/vcs.xml
GuessTheTriangle/GuessTheTriangle/GuessTheTriangle.vcxproj.filters
GuessTheTriangle/GuessTheTriangle/x64/Debug/GuessTheTriangle.exe.recipe
